[phases.setup]
nixPkgs = ["nodejs_18", "npm-9_x"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = [
  "cd .. && npm install",
  "cd .. && npm run build",
  "npm install",
  "npx prisma generate"
]

[start]
cmd = "npm start"
